APP_URL=

PORT=8000

JWT_SECRET="your-jwt-secret"

MONGODB_URL="mongodb://localhost:27017/<dbname>"

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

KHALTI_API_URL="https://dev.khalti.com/api/v2/epayment/initiate/"
KHALTI_SECRET_KEY=
KHALTI_RETURN_URL=

RESEND_EMAIL_API_KEY=

GEMINI_API_KEY=

STRIPE_SECRET_KEY=""
